/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind base;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind components;
/* stylelint-disable-next-line at-rule-no-unknown */
@tailwind utilities;

body {
  font-family: sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

.dark body {
  background-color: #111827; /* gray-900 */
  color: white;
}

.dark .bg-gray-50 {
  background-color: #1f2937; /* gray-800 */
}
